<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h1>Sports News Los Angeles</h1>
        <br>
        <p>Stay Up-to-Date With All the Latest Los Angeles Sports News.</p>
        <p>Over 150 News Feeds Automatically Updated Throughout the Day.</p>
        <p>Team Social Media Feeds (Instagram, Twitter, Tumblr, YouTube) Also Included.</p>
        <p>Log In and Bookmark Stories for Later Reading.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <!-- Insert home jumbotron image -->
      </div>
    </div>
  </div>
</div>