$base-color: #061638;

.team-sidebar {
  text-align: center;
  margin-top: 15px;
  padding: 0 10px;
  height: 200px;
  border: 1px solid $base-color;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000;
}

.links {
  padding-left: 7px;
}